.App {
  text-align: left;
}

a {
  color: #61dafb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 1.5em;
}

.choices {
  /* margin-top: 20px; */
}

.footer {
  margin-top: 20px;
  font-size: .8em;
}

.footer span {
  margin-right: 10px;
}
