@import "../../variables.scss";

.Page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: $normal-font-size;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }

textarea {
  width: 100%;
  margin-bottom: 20px;
}

.saveButton {
  margin-top: 20px;
  width: 100px;
}

.newChoiceButton {
  margin-left: 10px;
}

.theEnd {
  font-weight: bold;
}